nav {
    background-color: #0984b4;
    text-align: right;
    border: 50px solid red;
}

body{
    background-color: aquamarine;
    text-align: center;
}

label input {
    text-align: center;
    margin-left: 100;
    margin-right: 100;
}

ul {
    image-orientation: center;
    border: 2px dotted purple;
    
}